@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Веб-приложение создано с использованием ASP.NET Core.</p>

        <a class="nav-link" asp-page="/Movies/Index">Просмотр данных приложения</a>

    </div>
